*{
    border: 0px solid red;
}

.container{
    width: 970px;
    height:1200px;
    background-color: dodgerblue;
}
.header{
    display:inline-block;
}

.text_size{
    display:block;
    color: white;
    margin-top: 25px;
    margin-right: 45px;
    padding: 5px;
    padding-top: 45px;
    text-align: right;

}

.searchbar{
    height:75px;
    width:300px;
    margin-top: 0px;
    margin-left:50px;
    background-color: rgb(37, 37, 37);
    display: inline-block;
    border-radius: 8px;
    vertical-align: top;
 
}

 nav {
     width: 850px;
     height: 75px;
    margin: auto;
    padding: 0;
    background-color: darkcyan;
    text-align: center;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}

 nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
}

nav li {
    display: inline-block;
}

nav li a {
    display:inline-block;
    color: white;
    text-align: center;
    margin:auto;
    padding: 30px 20px;
    text-decoration: none;
    font-size: x-large;
}

/* Change the link color to another color on hover */
nav li a:hover {
    background-color: rgb(8, 226, 241);
}